annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
astor==0.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
distro==1.9.0
Django==5.1.1
duckdb==1.0.0
et-xmlfile==1.1.0
exceptiongroup==1.2.2
Faker==19.13.0
fonttools==4.53.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.8
japanize-matplotlib==1.1.3
Jinja2==3.1.4
jiter==0.5.0
kaleido==0.2.0
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.9.2
numpy==1.26.4
openai==1.44.0
openpyxl==3.1.5
packaging==24.1
pandas==1.5.3
pandasai==2.2.14
pillow==10.4.0
plotly==5.24.0
pydantic==2.9.0
pydantic_core==2.23.2
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
scipy==1.14.1
seaborn==0.12.2
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.34
sqlglot==25.20.1
sqlglotrs==0.2.12
sqlparse==0.5.1
tenacity==9.0.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
xlrd==2.0.1
